<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card-body">
                <h5 style="text-align: center;">Nueva Presentación</h5>
                <form [formGroup]="myForm" (ngSubmit)="validarFormulario()" novalidate>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="_presentacion" type="text" placeholder="Ingrese Presentación">
                        <mat-error *ngIf="_presentacion.invalid && (_presentacion.dirty || _presentacion.touched)">
                            <mat-error *ngIf="_presentacion.errors.required">
                                Presentación Requerida
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-button type="submit" [value]="botonIngresar" [disabled]="myForm.invalid"
                            class="bg-success text-white btn-block mt-2">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card-body mat-elevation-z5">
                <h5 style="text-align: center;">Lista Presentaciones</h5>
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="filterPresentacion" type="text" placeholder="Buscar Presentación">
                    <button mat-button matPrefix mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <div class="tablaPresentaciones">
                    <table mat-table [dataSource]="presentaciones|filter:filterPresentacion:'Descripcion'">
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <ng-container *matCellDef="let element">
                                <ng-container *ngIf="element.PresentacionUtilizado == '0'">
                                    <td mat-cell>
                                        <button mat-button class="btn-outline-danger"
                                            (click)="eliminarPresentacion(element.IdPresentacion)">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="element.PresentacionUtilizado == '1'">
                                    <td mat-cell>
                                    </td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tablaPresentaciones; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: tablaPresentaciones;"></tr>
                    </table>
                    <mat-paginator #paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
