<div class="container">
  <div class="card-body">
    <form [formGroup]="myForm" (ngSubmit)="validarFormulario()" novalidate>
      <div class="row">
        <div class="col-lg-10 col-md-10">
          <mat-form-field class="example-full-width">
            <input
              matInput
              formControlName="_cliente"
              type="text"
              placeholder="Buscar Cliente"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2">
          <button mat-button class="ml-4 mt-2 bg-success text-white">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          [(ngModel)]="filterFacturas"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          placeholder="Buscar Factura"
        />
        <button mat-button matPrefix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <div class="table_all">
        <table mat-table [dataSource]="facturas | filter: filterFacturas: 'FiltroEstado'">
          <ng-container matColumnDef="factura">
            <th mat-header-cell *matHeaderCellDef>Factura</th>
            <td mat-cell *matCellDef="let element">
              {{ element.Codigo }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element">
              {{ element.Fecha | date: "yyyy-MM-dd" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let element">
              {{ element.Cliente }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalFactura">
            <th mat-header-cell *matHeaderCellDef>Total Factura</th>
            <td mat-cell *matCellDef="let element">
              {{ element.TotalFactura }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fechaFinalCredito">
            <th mat-header-cell *matHeaderCellDef>Final Credito</th>
            <td mat-cell *matCellDef="let element">
              {{ element.FechaFinalCredito | date: "yyyy-MM-dd" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-button
                type="button"
                class="btn-outline-warning"
                (click)="mostrarCanton(element)"
              >
                <mat-icon>payment</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
              <span class="{{element.Estado}}">Estado</span>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="tablaFacturasCliente; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: tablaFacturasCliente"></tr>
        </table>
        <mat-paginator
          #paginator
          [pageSizeOptions]="[5]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </form>
  </div>
</div>
