<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="card-body">
                <h5 style="text-align: center;">Nuevo Producto</h5>
                <form [formGroup]="myForm" (ngSubmit)="validarFormulario()" novalidate>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="_nombre"
                            type="text" placeholder="Producto" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option (onSelectionChange)="seleccionarProductoSiExiste(option)"
                                *ngFor="let option of filteredOptions | async" [value]="option.nombre">
                                {{option.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="_nombre.invalid && (_nombre.dirty || _nombre.touched)">
                            <mat-error *ngIf="_nombre.errors.required">
                                Producto Requerido
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Tipo Producto</mat-label>
                        <mat-select formControlName="_tipoProducto">
                            <mat-option *ngFor="let item of tipoProductos" [value]="item.IdTipoProducto">
                                {{item.Descripcion}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="_tipoProducto.invalid && (_tipoProducto.dirty || _tipoProducto.touched)">
                            <mat-error *ngIf="_tipoProducto.errors.required">
                                Tipo Producto Requerido
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="_codigo" type="text" placeholder="Ingrese Código Producto">
                        <mat-error *ngIf="_codigo.invalid && (_codigo.dirty || _codigo.touched)">
                            <mat-error *ngIf="_codigo.errors.required">
                                Código Requerido
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Presentación</mat-label>
                        <mat-select formControlName="_presentacion">
                            <mat-option *ngFor="let item of presentaciones" [value]="item.IdPresentacion">
                                {{item.Descripcion}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="_presentacion.invalid && (_presentacion.dirty || _presentacion.touched)">
                            <mat-error *ngIf="_presentacion.errors.required">
                                Presentación Requerida
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="_contenidoNeto" type="number"
                                    placeholder="Contenido Neto">
                                <mat-error
                                    *ngIf="_contenidoNeto.invalid && (_contenidoNeto.dirty || _contenidoNeto.touched)">
                                    <mat-error *ngIf="_contenidoNeto.errors.required">
                                        Contenido Neto Requerido
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Medida</mat-label>
                                <mat-select formControlName="_medida">
                                    <mat-option *ngFor="let item of medidas" [value]="item.IdMedida">
                                        {{item.Descripcion}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="_medida.invalid && (_medida.dirty || _medida.touched)">
                                    <mat-error *ngIf="_medida.errors.required">
                                        Medida Requerida
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="_precio" type="text" placeholder="Ingrese Precio Producto">
                        <mat-error *ngIf="_precio.invalid && (_precio.dirty || _precio.touched)">
                            <mat-error *ngIf="_precio.errors.required">
                                Precio Requerido
                            </mat-error> 
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="_descripcion" type="text"
                            placeholder="Ingrese Descripción Producto">
                    </mat-form-field>
                    <div>
                        <button mat-button type="submit" class="bg-success text-white btn-block" [value]="botonIngresar"
                            [disabled]="myForm.invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card-body mat-elevation-z5">
                <h5 style="text-align: center;">Lista Productos</h5>
                <mat-form-field class="example-full-width">
                    <input (keyup)="applyFilter($event.target.value, 'nombre')" matInput [(ngModel)]="filterProducto"
                        type="text" class="input-field" placeholder="Buscar Producto">
                    <button mat-button matPrefix mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <div class="tablaProductos">
                    <table mat-table [dataSource]="productos">
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let element"> {{element.Codigo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element"> 
                                {{element.Producto.Nombre}}
                                {{element.Presentacion.Descripcion}}
                                {{element.CantidadMedida}}
                                {{element.Medida.Descripcion}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="tipoProducto">
                            <th mat-header-cell *matHeaderCellDef> Tipo Producto </th>
                            <td mat-cell *matCellDef="let element"> {{element.Producto.TipoProducto.Descripcion}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let element"> {{element.Codigo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th colspan="2" mat-header-cell *matHeaderCellDef> Acciones </th>
                            <ng-container *matCellDef="let element">
                                <ng-container *ngIf="element.ConfigurarProductosUtilizado == '0'">
                                    <td mat-cell>
                                        <button mat-button tooltip="Modificar" placement="top" class="btn-outline-primary"
                                            (click)="mostrarProducto(element)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </td>
                                    <td mat-cell>
                                        <button mat-button tooltip="Eliminar" placement="top" class="btn-outline-danger"
                                            (click)="eliminarConfiguracionProducto(element)">
                                           <mat-icon>remove</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="element.ConfigurarProductosUtilizado == '1'">
                                    <td mat-cell>
                                        <button mat-button tooltip="Modificar" placement="top" class="btn-outline-primary"
                                            (click)="mostrarProducto(element)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </td>
                                    <td mat-cell> </td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tablaProductos; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: tablaProductos;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>