.tablaComunidades {
    height: 31rem;
    overflow: auto;
}
  
.tablaParroquias {
    height: 16rem;
    overflow: auto;
}

table {
    width: 100%;
}

th {
    background-color: #343a40;
    color: #fff;
}