<div class="container">
  <div class="card-body">
    <form [formGroup]="myForm" (ngSubmit)="crearTicket()" novalidate>
      <div class="row">
        <div class="col-lg-4 col-md-5">
          <mat-form-field class="example-full-width">
            <mat-label>Rubro</mat-label>
            <mat-select
              formControlName="_rubro"
              (selectionChange)="selecionarRubro($event)"
            >
              <mat-option
                *ngFor="let item of rubros"
                [value]="item.IdTipoRubro"
              >
                {{ item.Descripcion }}
              </mat-option>
            </mat-select>
            <button disabled matPrefix mat-icon-button>
              <mat-icon>*</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Presentación</mat-label>
            <mat-select
              formControlName="_presentacionRubro"
              (selectionChange)="seleccionarPresentacionRubros($event)"
            >
              <mat-option
                *ngFor="let item of presentacionRubros"
                [value]="item.IdTipoPresentacionRubro"
              >
                {{ item.Descripcion }}
              </mat-option>
            </mat-select>
            <button disabled matPrefix mat-icon-button>
              <mat-icon>*</mat-icon>
            </button>
          </mat-form-field>
          <ng-container *ngIf="despuesDeSeleccionarPresentacion">
            <mat-form-field class="example-full-width">
              <input
                readonly
                matInput
                type="text"
                name="cliente"
                placeholder="Cliente"
                formControlName="_cliente"
              />
              <button
                tooltip="Seleccionar Cliente"
                mat-button
                matSuffix
                mat-icon-button
                type="button"
                (click)="seleccionarPersona()"
              >
                <mat-icon style="color: #f0ad4e;">person_add</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input
                matInput
                formControlName="_placaVehiculo"
                name="placaVehiculo"
                type="text"
                placeholder="Placa Vehiculo"
                [matAutocomplete]="auto"
              />
              <button disabled matPrefix mat-icon-button>
                <mat-icon>*</mat-icon>
              </button>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option.Placa"
                >
                  {{ option.Placa }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                name="peso{{ tipoPeso }}"
                placeholder="Peso {{ tipoPeso }}"
                formControlName="_peso"
              />
              <button disabled matPrefix mat-icon-button>
                <mat-icon>*</mat-icon>
              </button>
              <button disabled matSuffix mat-icon-button>
                <span>{{ medida }}</span>
              </button>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="carro">
            <mat-form-field class="example-full-width">
              <input
                readonly
                matInput
                type="text"
                name="cliente"
                placeholder="Chofer"
                formControlName="_chofer"
              />
              <button
                tooltip="Seleccionar Chofer"
                mat-button
                matSuffix
                mat-icon-button
                type="button"
                (click)="seleccionarChofer()"
              >
                <mat-icon style="color: #f0ad4e;">person_add</mat-icon>
              </button>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="ventaPorSaco">
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    type="text"
                    name="porcentajeHumedad"
                    formControlName="_porcentajeHumedad"
                    placeholder="% Humedad"
                  />
                  <button disabled matPrefix mat-icon-button>
                    <mat-icon>*</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    name="porcentajeImpureza"
                    type="text"
                    formControlName="_porcentajeImpureza"
                    placeholder="% Impureza"
                  />
                  <button disabled matPrefix mat-icon-button>
                    <mat-icon>*</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                name="precioPorQuintal"
                formControlName="_precioPorQuintal"
                placeholder="Precio Quintal"
              />
              <button disabled matPrefix mat-icon-button>
                <mat-icon>*</mat-icon>
              </button>
            </mat-form-field>
          </ng-container>
          <button
            mat-button
            type="submit"
            [disabled]="myForm.invalid"
            class="btn-outline-success btn-block"
          >
            Guardar
          </button>
        </div>
        <div class="col-lg-8 col-md-7">
          <mat-radio-group
            class="example-radio-group"
            (change)="selecionarOpcion($event.value)"
          >
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let opcion of opciones"
              [value]="opcion"
              [checked]="opcion.checked"
            >
              {{ opcion.descripcion }}
            </mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="example-full-width">
            <input
              matInput
              (keyup)="search($event.target.value)"
              name="buscarTicket"
              type="text"
              placeholder="Buscar Ticket"
            />
            <button matPrefix mat-icon-button>
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <div class="table_all">
            <table mat-table [dataSource]="tickets">
              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.Codigo }}
                </td>
              </ng-container>
              <ng-container matColumnDef="rubro">
                <th mat-header-cell *matHeaderCellDef>Rubro</th>
                <td mat-cell *matCellDef="let element">
                  {{ element._TipoRubro.Descripcion }}
                </td>
              </ng-container>
              <ng-container matColumnDef="presentacion">
                <th mat-header-cell *matHeaderCellDef>Presentación</th>
                <td mat-cell *matCellDef="let element">
                  {{ element._TipoPresentacionRubro.Descripcion }}
                </td>
              </ng-container>
              <ng-container matColumnDef="placa">
                <th mat-header-cell *matHeaderCellDef>Placa</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.Placa }}
                </td>
              </ng-container>
              <ng-container matColumnDef="pesoBruto">
                <th mat-header-cell *matHeaderCellDef>Peso Tara</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.PesoTara }}kg
                </td>
              </ng-container>
              <ng-container matColumnDef="pesoNeto">
                <th mat-header-cell *matHeaderCellDef>Peso Neto</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.PesoNeto }}q
                </td>
              </ng-container>
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let element">
                  ${{ element.TotalACobrar }}
                </td>
              </ng-container>
              <ng-container matColumnDef="acciones">
                <th colspan="3" mat-header-cell *matHeaderCellDef>
                  Acciones
                </th>
                <ng-container *matCellDef="let element">
                  <ng-container *ngIf="!element.Finalizado">
                    <td mat-cell>
                      <button
                        type="button"
                        mat-icon-button
                        (click)="eliminarTicket(element.IdTicketVenta)"
                      >
                        <mat-icon style="color: #d9534f;">
                          delete_outline
                        </mat-icon>
                      </button>
                    </td>
                    <td mat-cell>
                      <button
                        type="button"
                        mat-icon-button
                        color="primary"
                        (click)="finalizarTicket(element.IdTicketVenta)"
                      >
                        <mat-icon>
                          done_all
                        </mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="element.Finalizado">
                    <td mat-cell>
                      <button
                        type="button"
                        mat-icon-button
                        (click)="anularVenta(element.IdTicketVenta)"
                      >
                        <mat-icon style="color: #d9534f;">
                          delete_outline
                        </mat-icon>
                      </button>
                    </td>
                    <td mat-cell *ngIf="element.Modificado"></td>
                    <td mat-cell *ngIf="!element.Modificado">
                      <button
                        mat-icon-button
                        color="primary"
                        type="button"
                        (click)="modalModificarDatosTicketVenta(element)"
                      >
                        <mat-icon>edit</mat-icon>
                      </button>
                    </td>
                    <td mat-cell>
                      <button
                        type="button"
                        mat-icon-button
                        (click)="reimprimirComprobante(element)"
                        color="accent"
                      >
                        <mat-icon>
                          print
                        </mat-icon>
                      </button>
                    </td>
                  </ng-container>
                </ng-container>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="tablaTickets"></tr>
              <tr mat-row *matRowDef="let row; columns: tablaTickets"></tr>
            </table>
            <div class="spinner-container" *ngIf="loading">
              <mat-spinner></mat-spinner>
            </div>
            <mat-paginator
              #paginator
              [pageSizeOptions]="[5]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
