.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row mat-label {
    margin-right: 10px;
}

h5 {
    display: flex;
    justify-content: flex-end;
}