<div id="comprobante">
  <span class="d-flex justify-content-center">
    <img
      src="../../../assets/img/sello_compra_venta_rubros.jpeg"
      alt="sello_compra_venta_rubros"
      height="100px"
      width="auto"
    />
  </span>

  <div class="f-row mt-2">
    <div class="f-column">
      <mat-label>Compra de Producto</mat-label>
      <mat-label>Producto: {{ detalleTicket.rubros }}</mat-label>
      <mat-label>Nro. Doc: {{ detalleTicket.cedulaCliente }}</mat-label>
      <mat-label *ngIf="porCarro">Nro. Doc: {{ detalleTicket.cedulaChofer }}</mat-label>
      <mat-label *ngIf="porCarro"
        >Camión Placa Nro: {{ detalleTicket.vehiculo }}</mat-label
      >
    </div>
    <div class="f-column">
      <mat-label>{{ detalleTicket.codigo }}</mat-label>
      <mat-label>-</mat-label>
      <mat-label>{{ tipoCliente }}: {{ detalleTicket.cliente }}</mat-label>
      <mat-label *ngIf="porCarro">Chofer: {{ detalleTicket.chofer }}</mat-label>
    </div>
  </div>
  <table class="table table-borderless mt-2">
    <tbody>
      <tr>
        <td>Peso Bruto:</td>
        <td>{{ detalleTicket.pesoBruto }}{{ medidaPesoNeto }}</td>
        <td></td>
        <td>Humedad: {{ detalleTicket.porcentajeHumedad }}%</td>
      </tr>
      <tr>
        <td>Peso Tara:</td>
        <td>{{ detalleTicket.pesoTara }}{{ medidaPesoNeto }}</td>
        <td></td>
        <td>Impureza: {{ detalleTicket.porcentajeImpureza }}%</td>
      </tr>
      <tr>
        <td>Peso Neto:</td>
        <td>{{ detalleTicket.pesoNeto }}{{ medidaPesoNeto }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>{{ comprobanteVenta }}</td>
        <td>{{ detalleTicket.pesoSinImpurezas }}{{ medidaPesoSinImpureza }}</td>
        <td>Equivalente a:</td>
        <td>{{ detalleTicket.peso }}q</td>
      </tr>
    </tbody>
  </table>
  <div class="f-row">
    <div class="f-column">
      <mat-label class="text-center"
        >Precio qq: ${{ detalleTicket.precioPorQuintal }}</mat-label
      >
      <mat-label class="text-center mt-2">Entrada</mat-label>
      <mat-label class="text-center">{{ detalleTicket.entrada }}</mat-label>
      <mat-label class="text-center mt-2">Venta Balanza</mat-label>
      <input readonly type="text" />
    </div>
    <div class="f-column">
      <mat-label class="text-center"
        >Total: ${{ detalleTicket.total }}</mat-label
      >
      <mat-label class="text-center mt-2">Salida</mat-label>
      <mat-label class="text-center">{{ detalleTicket.salida }}</mat-label>
      <mat-label class="text-center mt-2">Proveedor/Chofer</mat-label>
      <input readonly type="text" />
    </div>
  </div>
</div>

<mat-dialog-actions>
  <button
    class="mt-2"
    mat-raised-button
    (click)="imprimirComprobante(detalleTicket.codigo)"
    color="primary"
  >
    <mat-icon>print</mat-icon>
    Imprimir
  </button>
</mat-dialog-actions>

<!-- <div class="row">
    <div class="col-lg-3">
      <mat-label>Peso Bruto:</mat-label>
      <br />
      <mat-label>Peso Tara:</mat-label>
      <br />
      <mat-label>Peso Neto:</mat-label>
      <br />
      <mat-label>Peso a Pagar:</mat-label>
    </div>
    <div class="col-lg-3 bg-warning">
      <mat-label>{{ detalleTicket.pesoBruto }}kg</mat-label>
      <br />
      <mat-label>{{ detalleTicket.pesoTara }}kg</mat-label>
      <br />
      <mat-label>{{ detalleTicket.pesoNeto }}{{ medidaPesoNeto }}</mat-label>
      <br />
      <mat-label
        >{{ detalleTicket.pesoSinImpurezas }}{{ medidaPesoNeto }}</mat-label
      >
    </div>
    <div class="col-lg-3">
      <mat-label>Humedad: {{ detalleTicket.porcentajeHumedad }}%</mat-label>
      <br />
      <mat-label>Impureza: {{ detalleTicket.porcentajeImpureza }}%</mat-label>
      <br>
      <mat-label>Equivalente a: {{ detalleTicket.peso }}q</mat-label>
    </div>
    <div class="col-lg-3">
    </div>
  </div> -->

<!-- <div class="f-row">
    <div class="f-column">
      <mat-label>Peso Bruto:</mat-label>
      <mat-label>Peso Tara:</mat-label>
      <mat-label>Peso Neto:</mat-label>
      <mat-label>Peso a Pagar:</mat-label>
    </div>
    <div class="f-column">
      <mat-label *ngIf="porSaco">{{ detalleTicket.pesoBruto }}kg</mat-label>
      <mat-label *ngIf="porSaco">{{ detalleTicket.pesoTara }}kg</mat-label>
      <mat-label>{{ detalleTicket.pesoNeto }}{{ medidaPesoNeto }}</mat-label>
      <mat-label *ngIf="detalleTicket.pesoSinImpurezas"
        >{{ detalleTicket.pesoSinImpurezas }}{{ medidaPesoNeto }}</mat-label
      >
    </div>
  </div>

  <h4 style="text-align: center;">{{ detalleTicket.codigo }}</h4>
  <div class="flex-container">
    <mat-label>Entrada: {{ detalleTicket.entrada }}</mat-label>
    <mat-label>Salida: {{ detalleTicket.salida }}</mat-label>
    <mat-label *ngIf="porSaco"
      >Peso Bruto: {{ detalleTicket.pesoBruto }}kg</mat-label
    >
    <mat-label *ngIf="porSaco"
      >Peso Tara: {{ detalleTicket.pesoTara }}kg</mat-label
    >
    <mat-label
      >Peso Neto: {{ detalleTicket.pesoNeto }}{{ medidaPesoNeto }}</mat-label
    >
    <mat-label>Rubro: {{ detalleTicket.rubros }}</mat-label>
    <mat-label>Presentación: {{ detalleTicket.presentacion }}</mat-label>
    <mat-label *ngIf="porSaco"
      >Vehículo: {{ detalleTicket.vehiculo }}</mat-label
    >

    <div class="flex-row">
      <mat-label
        >Porcentaje Humedad: {{ detalleTicket.porcentajeHumedad }}%</mat-label
      >
      <mat-label
        >Porcentaje Impureza: {{ detalleTicket.porcentajeImpureza }}%</mat-label
      >
    </div>

    <mat-label *ngIf="detalleTicket.pesoSinImpurezas"
      >Peso a Pagar: {{ detalleTicket.pesoSinImpurezas
      }}{{ medidaPesoNeto }}</mat-label
    >

    <mat-label *ngIf="detalleTicket.peso"
      >Peso Equivalente: {{ detalleTicket.peso }}q</mat-label
    >
    <mat-label
      >Precio por Quintal: {{ detalleTicket.precioPorQuintal }}$</mat-label
    >
    <h5 class="mt-2">Total: {{ detalleTicket.Total }}$</h5>
  </div> -->
