span {
  font-size: 14px;
}

h5 {
  display: flex;
  justify-content: flex-end;
}

.f-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.f-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  margin: 0 2rem;
}
