<div id="comprobante">
  <span class="d-flex justify-content-center">
    <img
      src="../../../assets/img/sello_compra_venta_rubros.jpeg"
      alt="sello_compra_venta_rubros"
      height="100px"
      width="auto"
    />
  </span>

  <div class="f-row mt-2">
    <div class="f-column ml-2">
      <span>{{ tipoComprobante }} DE PRODUCTO</span>
      <span>PRODUCTO: {{ detalleTicket.rubros }}</span>
      <span>CÉDULA: {{ detalleTicket.cedulaCliente }}</span>
      <span *ngIf="porCarro">CÉDULA: {{ detalleTicket.cedulaChofer }}</span>
      <span *ngIf="placaCarro"
        >CAMIÓN PLACA NRO: {{ detalleTicket.vehiculo }}</span
      >
    </div>
    <div class="f-column">
      <span>{{ detalleTicket.codigo }}</span>
      <span>-</span>
      <span>{{ tipoCliente }}: {{ detalleTicket.cliente }}</span>
      <span *ngIf="porCarro">Chofer: {{ detalleTicket.chofer }}</span>
    </div>
  </div>

  <div class="f-row mt-2" style="border: 1px solid black;">
    <div class="f-column ml-2">
      <ng-container *ngIf="porSaco">
        <span
          >PESO BRUT: {{ detalleTicket.pesoBruto }}{{ medidaPesoNeto }}</span
        >
        <span>PESO TARA: {{ detalleTicket.pesoTara }}{{ medidaPesoNeto }}</span>
        <span>PESO NETO: {{ detalleTicket.pesoNeto }}{{ medidaPesoNeto }}</span>
        <span
          >{{ comprobanteVenta }} {{ detalleTicket.pesoSinImpurezas
          }}{{ medidaPesoSinImpureza }}</span>
      </ng-container>
    </div>
    <div class="f-column">
      <span class="f-column">
        <span>HUMEDAD: {{ detalleTicket.porcentajeHumedad }}%</span>
        <span>IMPUREZA: {{ detalleTicket.porcentajeImpureza }}%</span>
      </span>
      <span>--------------------------------------------</span>
      <span>EQUIVALENTE A: {{ detalleTicket.peso }}q</span>
    </div>
  </div>

  <div class="f-row mt-2">
    <div class="f-column">
      <span class="text-center"
        >PRECIO qq: ${{ detalleTicket.precioPorQuintal }}</span
      >
      <span class="text-center mt-2">ENTRADA</span>
      <span class="text-center">{{ detalleTicket.entrada }}</span>
      <span class="text-center mt-2">{{balanza}}BALANZA</span>
      <input readonly type="text" />
    </div>
    <div class="f-column">
      <span class="text-center">TOTAL: ${{ detalleTicket.total }}</span>
      <span class="text-center mt-2">SALIDA</span>
      <span class="text-center">{{ detalleTicket.salida }}</span>
      <span class="text-center mt-2"> {{ tipoCliente }} </span>
      <input readonly type="text" />
    </div>
  </div>
</div>

<mat-dialog-actions>
  <button
    class="mt-2"
    mat-raised-button
    (click)="imprimirComprobante(detalleTicket.codigo)"
    color="primary"
  >
    <mat-icon>print</mat-icon>
    Imprimir
  </button>
</mat-dialog-actions>
