<div class="container">
    <div class="row">
        <div class="col-lg-4" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <h5 style="text-align: center;">{{ nuevoUsuario }}</h5>
                    <mat-form-field class="example-full-width">
                        <input matInput [value]="cedula" type="text" disabled readonly>
                    </mat-form-field>
                    <button mat-stroked-button class="btn-block btn-outline-warning"
                        (click)="abrirModalAsignacionUsuarioPersona()">
                        <i class="fa fa-user-plus"></i>
                    </button>
                    <mat-form-field class="example-full-width">
                        <input matInput [value]="nombres" type="text" disabled readonly>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput [value]="apellidos" type="text" disabled readonly>
                    </mat-form-field>
                    <div class="badge badge-danger mb-3 btn-block" [hidden]="inputPersona">
                        Persona Requerida
                    </div>
                    <form [formGroup]="myForm" (ngSubmit)="validacionFormulario()" novalidate>
                        <mat-form-field class="example-full-width">
                            <input matInput #testInput formControlName="_valorUsuario" type="text"
                                (keyup)="onChangeInputUsuario()" placeholder="Ingrese Usuario">
                        </mat-form-field>
                        <div class="badge badge-danger mt-3 btn-block"
                            *ngIf="_valorUsuario.invalid && (_valorUsuario.dirty || _valorUsuario.touched)">
                            <div *ngIf="_valorUsuario.errors.required">
                                Usuario Requerido
                            </div>
                        </div>
                        <div class="badge badge-danger mb-3 btn-block" [hidden]="inputUsuario">
                            Usuario Ya Existe
                        </div>
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="_contrasena" type="password" [type]="inputType"
                                placeholder="Ingrese Contraseña">
                            <button mat-button matSuffix mat-icon-button (click)="mostrarContrasena()">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="badge badge-danger btn-block mb-3"
                            *ngIf="_contrasena.invalid && (_contrasena.dirty || _contrasena.touched)">
                            <div *ngIf="_contrasena.errors.required">
                                Contrasena Requerida
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-success btn-block" type="submit" [disabled]="myForm.invalid"
                                [value]="botonInsertar" #testButton>Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body mat-elevation-z5">
                    <h5 style="text-align: center;">Lista Usuarios</h5>
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="filterUsuario" type="text" placeholder="Buscar Usuario">
                        <button mat-button matPrefix mat-icon-button>
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="tablaUsuarios">
                        <table mat-table
                            [dataSource]="usuarios|
                        filter:filterUsuario:'PrimerNombre':'SegundoNombre':'ApellidoPaterno':'ApellidoMaterno':'UsuarioLogin'">
                            <ng-container matColumnDef="usuario">
                                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                                <td mat-cell *matCellDef="let element"> {{element.UsuarioLogin}} </td>
                            </ng-container>
                            <ng-container matColumnDef="nombres">
                                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                                <td mat-cell *matCellDef="let element"> {{ element.PrimerNombre }}
                                    {{ element.SegundoNombre }} {{ element.ApellidoPaterno }}
                                    {{ element.ApellidoMaterno }} </td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th colspan="3" mat-header-cell *matHeaderCellDef> Acciones </th>
                                <ng-container *matCellDef="let element">
                                    <ng-container *ngIf="element.EstadoUsuario">
                                        <td mat-cell>
                                            <button tooltip="Asignar Roles" placement="top"
                                                (click)="abrirModalAsignacionUsuarioTiposUsuario(element)"
                                                class="btn btn-sm btn-outline-warning separacion-botones">
                                                <i class="fa fa-address-book" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td mat-cell>
                                            <button tooltip="Modificar" placement="top" (click)="setUsuario(element)"
                                                class="btn btn-sm btn-outline-info separacion-botones">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true">
                                                </i>
                                            </button>
                                        </td>
                                        <td mat-cell>
                                            <button tooltip="Deshabilitar" placement="top"
                                                (click)="eliminarUsuario(element)"
                                                class="btn btn-sm btn-outline-danger separacion-botones">
                                                <i class="fa fa-user-times" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="!element.EstadoUsuario">
                                        <td mat-cell colspan="3">
                                            <button tooltip="Habilitar" placement="top"
                                                (click)="habilitarUsuario(element)" style="justify-content: center;"
                                                class="btn btn-sm btn-block btn-outline-success">
                                                <i class="fa fa-user-plus" aria-hidden="true"> Habilitar</i>
                                            </button>
                                        </td>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="tablaUsuarios; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: tablaUsuarios;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>