<br>
<div class="col-lg-4 col-md-5" style="float: left;">
    <div class="card ">
        <div class="card-header" style="text-align: center;">
            Nuevo Usuario
        </div>
        <div class="card-body">
            <div class="form-group input-container">
                <input [value]="cedula" type="text" readonly class="form-control input-field" placeholder="Cedula">
                <i (click)="abrirModal()" class="fa fa-user-plus icon" style="background-color:#f0ad4e;"
                    (click)="mostrarContrasena()"></i>
            </div>
            <form [formGroup]="myForm" (ngSubmit)="validacionFormulario()" novalidate>
                <div class="form-group">
                    <input formControlName="_valorUsuario" type="text" class="form-control" placeholder="Ingrese Usuario">
                </div>

                <div class="form-group input-container">
                    <input formControlName="_contrasena" type="password" [type]="inputType" class="form-control input-field"
                        placeholder="Ingrese Contraseña">
                    <i class="fa fa-eye icon" (click)="mostrarContrasena()"></i>
                </div>

                <div class="form-group">
                    <select [(ngModel)]="privilegio" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
                        <option value="0" disabled>Seleccionar un Privilegio</option>
                        <option *ngFor="let item of privilegios"> {{ item.Descripcion }} </option>
                    </select>
                </div>

                <div class="form-group">
                    <select [(ngModel)]="modulo" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
                        <option value="0" disabled>Seleccionar un Módulo</option>
                        <option *ngFor="let item of modulos"> {{ item.Descripcion }} </option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="form-control btn-success" (click)="validacionFormulario()" type="submit" [disabled]="myForm.invalid"
                        [value]="botonInsertar" #testButton>
                        Guardar Usuario
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card ">
    <div class="card-header" style="text-align: center;">
        Lista Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group input-container">
                    <i class="fa fa-search icon"></i>
                    <input type="text" class="form-control input-field" placeholder="Ejem. Zambrano Zambrano">
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-sm">
                        <thead class="card-header">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Usuario</th>
                                <th scope="col" colspan="3" style="text-align: center;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of usuarios, index as i">
                                <th scope="row"> {{ i }} </th>
                                <td> {{ item.UsuarioLogin }} </td>
                                <td>
                                    <button (click)="setUsuario(item.IdUsuario,item.UsuarioLogin,item.IdPersona, item.Contrasena)"
                                        class="btn btn-sm btn-outline-info separacion-botones"><i
                                            class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>
                                </td>
                                <td>
                                    <button (click)="eliminarUsuario(item.IdUsuario)"
                                        class="btn btn-sm btn-outline-danger separacion-botones"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>