<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Nombres:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Ejem: Juan Carlos">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Apellidos:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Ejem. Zambrano Zambrano">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Documento:</label>
                    <div class="col-sm-5">
                        <select type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Ejem. Zambrano Zambrano">
                            <option>Cedula</option>
                            <option>Pasaporte</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Ejem. 0000000000">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Usuario:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Ejem: 00000000000">
                    </div>
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Rol:</label>
                    <div class="col-sm-4">
                        <select type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Ejem. Zambrano Zambrano">
                            <option>Administrador</option>
                            <option>B</option>
                            <option>C</option>
                            <option>D</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">clave:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Ejem: ***********">
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-sm btn-block btn-outline-primary" id="colFormLabelSm" > <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <!-- <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Apellidos:</label> -->
                    <div class="col-sm-12">
                        <input type="button" class="btn btn-sm btn-block btn-primary" id="colFormLabelSm" value="Guardar">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Filtro:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Ejem. Zambrano Zambrano">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive-sm">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <!-- <tr>
                            <th scope="col-12">#</th>
                        </tr> -->
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>SI</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>
                            <button class="btn btn-sm btn-primary botones-tabla"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>
                            <button class="btn btn-sm btn-secondary botones-tabla"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>NO</td>
                        <td>Otto</td>
                        <td>Thornton</td>
                        <td >
                                <button class="btn btn-sm btn-primary botones-tabla"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>
                            <button class="btn btn-sm btn-secondary botones-tabla"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>SI</td>
                        <td>Otto</td>
                        <td>the Bird</td>
                        <td >
                            <button class="btn btn-sm btn-primary botones-tabla"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>
                            <button class="btn btn-sm btn-secondary botones-tabla"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>