.tablaDetalleCompra {
    height: auto;
    overflow: auto;
}

.tablaFacturasNoFinalidas {
    height: 20rem;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
