.tablaDetalleCompra {
  height: auto;
  overflow: auto;
}

.tablaFacturasNoFinalidas {
    height: 20rem;
    overflow: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.tableButton:focus {
  border-color: #343a40;
  text-align: center;
  font-weight: bold;
}