<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-5 mr-auto">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Nuevo Canton
                </div>
                <div class="card-body">
                    <input [value]="idProvincia" class="form-control" type="number" readonly disabled hidden>
                    <div class="form-group">
                        <input [value]="provincia" type="text" class="form-control" readonly disabled>
                    </div>
                    <form [formGroup]="myForm" (ngSubmit)="validarFormulario()" novalidate>
                        <div class="form-group">
                            <input formControlName="_canton" class="form-control" type="text"
                                placeholder="Ingrese Canton">
                            <div class="badge badge-danger mt-3" [hidden]="inputIdProvincia">
                                Provincia Requerido
                            </div>
                            <div class="badge badge-danger mt-3"
                                *ngIf="_canton.invalid && (_canton.dirty || _canton.touched)">
                                <div *ngIf="_canton.errors.required">
                                    Canton Requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" [value]="botonIngresar" [disabled]="myForm.invalid"
                                class="form-control btn-success" #testButton>Guardar
                                Canton</button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Lista Provincias
                </div>
                <div class="card-body">
                  <div class="form-group input-container">
                      <i class="fa fa-search icon"></i>
                      <input [(ngModel)]="filterProvincia" type="text" class="form-control input-field" placeholder="Ejem. Manabi">
                  </div>
                  <div class="table-responsive-sm">
                      <table class="table table-sm">
                          <thead class="card-header">
                              <tr>
                                  <th scope="col">Provincia</th>
                                  <th scope="col" style="text-align: center;">Seleccionar</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of dataProvincias | filter: filterProvincia : 'Descripcion'">
                                  <td> {{ item.Descripcion }} </td>
                                  <td>
                                      <button class="btn btn-sm btn-block btn-outline-warning"
                                          (click)="setProvincia(item)">
                                          <i class="fa fa-plus" aria-hidden="true"></i>
                                      </button>
                                  </td>
                          </tbody>
                      </table>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Lista Cantones
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group input-container">
                                <i class="fa fa-search icon"></i>
                                <input [(ngModel)]="filterCanton" type="text" class="form-control input-field" placeholder="Ejem. Tosagua">
                            </div>
                            <button class="btn btn-sm btn-outline-info"
                                (click)="consultarCantones()">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                            <div class="table-responsive-sm">
                                <table class="table table-sm">
                                    <thead class="card-header">
                                        <tr>
                                            <th scope="col">Canton</th>
                                            <th scope="col" colspan="2" style="text-align: center;">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of cantones | filter: filterCanton : 'Descripcion'">
                                            <td> {{ item.Descripcion }} </td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-info separacion-botones"
                                                    value="{{item.IdCanton}}" (click)=mostrarCanton(item)>
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-danger separacion-botones"
                                                    value="{{item.IdCanton}}" (click)=eliminarCanton(item.IdCanton)>
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
