<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card-body">
                <h5 style="text-align: center;">Nuevo Cantón</h5>
                <input matInput [value]="idProvincia" type="number" readonly disabled hidden>
                <form [formGroup]="myForm" (ngSubmit)="validarFormulario()" novalidate>
                    <mat-form-field class="example-full-width">
                        <input matInput [value]="provincia" type="text" readonly disabled>
                    </mat-form-field>
                    <div class="badge badge-danger mb-3 btn-block" [hidden]="inputIdProvincia">
                        Provincia Requerida
                    </div>
                    <mat-form-field class="example-full-width">
                        <input matInput (keyup)="onChangeInptCanton()" formControlName="_canton" type="text"
                            placeholder="Ingrese Canton">
                    </mat-form-field>
                    <div class="badge badge-danger mb-3 btn-block"
                        *ngIf="_canton.invalid && (_canton.dirty || _canton.touched)">
                        <div *ngIf="_canton.errors.required">
                            Cantón Requerido
                        </div>
                    </div>
                    <div class="badge badge-danger mb-3 btn-block" [hidden]="inputCanton">
                        Cantón Ya Existe
                    </div>
                    <div>
                        <button type="submit" [value]="botonIngresar" [disabled]="myForm.invalid"
                            class="btn btn-success btn-block" #testButton>Guardar</button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <h5 style="text-align: center;">Lista Provincias</h5>
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="filterProvincia" type="text" placeholder="Buscar Provincia">
                    <button mat-button matPrefix mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <div class="tablaProvincias">
                    <table mat-table [dataSource]="provincias|filter:filterProvincia:'Descripcion'">
                        <ng-container matColumnDef="provincia">
                            <th mat-header-cell *matHeaderCellDef> Provincia </th>
                            <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element">
                                <button tooltip="Seleccionar" placement="top"
                                    class="btn btn-sm btn-block btn-outline-warning" (click)="setProvincia(element)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tablaProvincias; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: tablaProvincias;"></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card-body mat-elevation-z5">
                <h5 style="text-align: center;">Lista Cantones</h5>
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="filterCanton" type="text"
                        placeholder="Buscar Cantón">
                        <button mat-button matPrefix mat-icon-button>
                            <mat-icon>search</mat-icon>
                        </button>
                </mat-form-field>
                <div class="tablaCantones">
                    <table mat-table [dataSource]="cantones|filter:filterCanton:'Descripcion'">
                        <ng-container matColumnDef="canton">
                            <th mat-header-cell *matHeaderCellDef> Cantón </th>
                            <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="provincia">
                            <th mat-header-cell *matHeaderCellDef> Provincia </th>
                            <td mat-cell *matCellDef="let element"> {{element.Provincia.Descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th colspan="2" mat-header-cell *matHeaderCellDef> Acciones </th>
                            <ng-container *matCellDef="let element">
                                <ng-container *ngIf="element.PermitirEliminacion">
                                    <td mat-cell>
                                        <button tooltip="Modificar" placement="top" class="btn btn-sm btn-outline-info"
                                            (click)=mostrarCanton(element)>
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td mat-cell>
                                        <button class="btn btn-sm btn-outline-danger"
                                            (click)=eliminarCanton(element.IdCanton)>
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="!element.PermitirEliminacion">
                                    <td mat-cell colspan="2">
                                        <button tooltip="Modificar" placement="top" class="btn btn-sm btn-outline-info"
                                            (click)=mostrarCanton(element)>
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tablaCantones; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: tablaCantones;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>