<div class="container">
  <div class="card-body">
    <form [formGroup]="myForm" (ngSubmit)="validarFormulario()" novalidate>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="row">
            <div class="col-lg-5 col-md-5">
              <h5 style="text-align: center;">Nuevo Cantón</h5>
              <div class="row">
                <div class="col-9">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      formControlName="_provincia"
                      placeholder="Provincia"
                      type="text"
                      readonly
                    />
                    <button disabled mat-button matPrefix mat-icon-button>
                      <mat-icon>*</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <button
                    mat-button
                    mat-icon-button
                    type="button"
                    (click)="abrirModal()"
                    class="mt-2 btn-warning btn-block"
                  >
                    <mat-icon>
                      location_on
                    </mat-icon>
                  </button>
                </div>
              </div>

              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="_canton"
                  name="canton"
                  type="text"
                  placeholder="Ingrese Canton"
                />
                <button disabled mat-button matPrefix mat-icon-button>
                  <mat-icon>*</mat-icon>
                </button>
              </mat-form-field>

              <div>
                <button
                  mat-button
                  type="submit"
                  [value]="botonIngresar"
                  [disabled]="myForm.invalid"
                  class="btn-outline-success btn-block"
                >
                  Guardar
                </button>
              </div>
              <div>
                <a
                  mat-button
                  routerLink="/localizaciones"
                  type="button"
                  class="mt-2 btn-block"
                >
                  Volver
                </a>
              </div>
            </div>
            <div class="col-lg-7 col-md-7">
              <h5 style="text-align: center;">Lista Cantones</h5>
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  name="buscarCanton"
                  (keyup)="search($event.target.value)"
                  type="text"
                  placeholder="Buscar Cantón"
                />
                <button mat-button matPrefix mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
              <div class="table_all">
                <table mat-table [dataSource]="cantones">
                  <ng-container matColumnDef="canton">
                    <th mat-header-cell *matHeaderCellDef>Cantón</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.Descripcion }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="provincia">
                    <th mat-header-cell *matHeaderCellDef>Provincia</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.Provincia }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="acciones">
                    <th colspan="2" mat-header-cell *matHeaderCellDef>
                      Acciones
                    </th>
                    <ng-container *matCellDef="let element">
                      <ng-container *ngIf="element.PermitirEliminacion">
                        <td mat-cell>
                          <button
                            mat-button
                            type="button"
                            class="btn-outline-primary"
                            (click)="mostrarCanton(element)"
                          >
                            <mat-icon>edit</mat-icon>
                          </button>
                        </td>
                        <td mat-cell>
                          <button
                            mat-button
                            type="button"
                            class="btn-outline-danger"
                            (click)="eliminarCanton(element.IdCanton)"
                          >
                            <mat-icon>remove</mat-icon>
                          </button>
                        </td>
                      </ng-container>
                      <ng-container *ngIf="!element.PermitirEliminacion">
                        <td mat-cell>
                          <button
                            mat-button
                            type="button"
                            class="btn-outline-primary btn-block"
                            (click)="mostrarCanton(element)"
                          >
                            <mat-icon>edit</mat-icon>
                          </button>
                        </td>
                        <td mat-cell></td>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="tablaCantones; sticky: true"
                  ></tr>
                  <tr mat-row *matRowDef="let row; columns: tablaCantones"></tr>
                </table>
                <div class="spinner-container" *ngIf="loading">
                  <mat-spinner></mat-spinner>
                </div>
                <mat-paginator
                  #paginator
                  [pageSizeOptions]="[5]"
                  showFirstLastButtons
                ></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
