<mat-sidenav-container
  class="sidenav-container"
  style="background-color: rgb(245, 246, 247);"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    style="background-color: white;"
    fixedTopGap
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="text-white" style="background-color: white;">
      <img
        src="./assets/img/amucomt.png"
        width="45"
        height="60"
        style="margin-left: 1rem;"
      />
      <h5 class="amucomt toolbar_title">AMUCOMT</h5>
    </mat-toolbar>
    <mat-list>
      <div>
        <a
          mat-list-item
          *ngFor="let route of nav_items"
          [routerLink]="route.url"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>{{ route.icon }}</mat-icon>
          {{ route.name }}
        </a>
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: white;">
      <mat-toolbar-row>
        <button
          (click)="goBack()"
          *ngIf="compraVenta"
          mat-button
          mat-icon-button
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
          mat-button
          mat-icon-button
        >
          <mat-icon>apps</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span class="drawer_title">{{ route }}</span>
        <span class="example-spacer2"></span>
        <div class="dropdown">
          <div
            mat-card-avatar
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="../../assets/img/panel/usuario.png"
              alt=""
              height="40px"
              width="40px"
            />
          </div>
          <div
            class="dropdown-menu mt-2 mr-2"
            aria-labelledby="dropdownMenuButton"
          >
            <a class="dropdown-item mt-2" routerLink="/cuenta">
              <svg
                class="bi bi-person-fill"
                width="1rem"
                height="18px"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                />
              </svg>
              Cuenta</a
            >
            <a class="dropdown-item" routerLink="/login" (click)="salir()">
              Salir</a
            >
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
