.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 275px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.amucomt{
  margin-top: 15px;
  margin-left: 10px;
  color: #fff;
}

a {
  width: 100%;
  padding: 10px;
}

a.active {
  background-color: #adb5bd;
  color: rgb(129, 129, 129);
}