.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  overflow: hidden;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.amucomt{
  margin-left: 10px;
  color: #343a40;
}

a {
  margin: 10px 30% 10px 0%;
  text-decoration: none;
}

a:hover{
  background-color: #f8f9fa;
}

a.active {
  text-shadow: 1px 1px #343a40;  
  color: #f61cc4;
  background-color: #f8f9fa;
}

.drawer_title {
  text-shadow: 1px 1px #f61cc4;  
  color: #343a40;
}