.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  overflow: hidden;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.amucomt{
  margin-left: 10px;
  color: black;
}

a {
  /* margin: 3rem; */
  /* width: 100%; */
  margin: 10px 30% 10px 5%;
}

a.active {
  /* background-color: #f61cc4; */
  color: #f61cc4;
}