<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card-body">
                <h5 style="text-align: center;">Kits</h5>
                <mat-form-field class="example-full-width">
                    <mat-label>Kits</mat-label>
                    <mat-select (selectionChange)="onChangeSelectKit($event.value)">
                        <mat-option *ngFor="let item of kits" [value]="item.IdKit">
                            {{item.Descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="tablaProductosDeUnKit">
                    <table mat-table [dataSource]="listaProductosDeUnKit">
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.ListaProductos.Producto.Nombre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tipoProducto">
                            <th mat-header-cell *matHeaderCellDef> Tipo Producto </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ListaProductos.Producto.TipoProducto.Descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let element"> {{element.ListaProductos.Producto.Codigo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th colspan="2" mat-header-cell *matHeaderCellDef> Acciones </th>
                            <ng-container *matCellDef="let element">
                                <ng-container>
                                    <td mat-cell>
                                        <button class="btn btn-sm btn-outline-info"
                                            (click)="mostrarDetalleProducto(element, 'productoDeUnKit')">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td mat-cell>
                                        <button class="btn btn-sm btn-outline-danger"
                                            (click)="eliminarProductoDelKit(element)">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tablaProductosDeUnKit; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: tablaProductosDeUnKit;"></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card-body mat-elevation-z5">
                <h5 style="text-align: center;">Lista Productos</h5>
                <mat-form-field class="example-full-width">
                    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filterProducto" type="text"
                        placeholder="Buscar Producto">
                        <button mat-button matPrefix mat-icon-button>
                            <mat-icon>search</mat-icon>
                        </button>
                </mat-form-field>
                <div class="tablaProductos">
                    <table mat-table [dataSource]="productos">
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.Producto.Nombre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tipoProducto">
                            <th mat-header-cell *matHeaderCellDef> Tipo Producto </th>
                            <td mat-cell *matCellDef="let element"> {{element.Producto.TipoProducto.Descripcion}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let element"> {{element.Producto.Codigo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th colspan="2" mat-header-cell *matHeaderCellDef> Acciones </th>
                            <ng-container *matCellDef="let element">
                                <td mat-cell>
                                    <button class="btn btn-sm btn-outline-info"
                                        (click)="mostrarDetalleProducto(element, 'productoSinkit')">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td mat-cell>
                                    <button class="btn btn-sm btn-outline-warning"
                                        (click)="agregarProductoDelKit(element)">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tablaProductos; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: tablaProductos;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>