<mat-tab-group>
    <mat-tab label="Provincias">
        <br>
        <app-provincia></app-provincia>
    </mat-tab>
    <mat-tab label="Cantones">
        <br>
        <app-canton></app-canton>
    </mat-tab>
    <mat-tab label="Parroquias">
        <br>
        <app-parroquia></app-parroquia>
    </mat-tab>
    <mat-tab label="Comunidades">
        <br>
        <app-comunidad></app-comunidad>
    </mat-tab>
    <mat-tab label="Sembrios">
        <br>
        <app-sembrio></app-sembrio>
    </mat-tab>
</mat-tab-group>
