<div class="container center">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/provincias" class="card education">
          <div class="overlay"></div>
          <div class="circle">
            <img
              width="131px"
              height="131px"
              src="../../../assets/img/panel/crear.png"
              alt=""
            />
          </div>
          <p>Provincias</p>
        </a>
      </div>
      <div class="col-md-3">
        <a routerLink="/cantones" class="card credentialing">
          <div class="overlay"></div>
          <div class="circle">
            <img
              width="auto"
              height="131px"
              src="../../../assets/img/panel/version.png"
              alt=""
            />
          </div>
          <p>Cantones</p>
        </a>
      </div>
      <div class="col-md-3">
        <a routerLink="/parroquias" class="card wallet">
          <div class="overlay"></div>
          <div class="circle">
            <img
              width="auto"
              height="131px"
              src="../../../assets/img/panel/publicar.png"
              alt=""
            />
          </div>
          <p>Parroquias</p>
        </a>
      </div>
      <div class="col-md-3">
        <a routerLink="/comunidades" class="card human-resources">
          <div class="overlay"></div>
          <div class="circle">
            <img
              width="auto"
              height="131px"
              src="../../../assets/img/panel/llenar.png"
              alt=""
            />
          </div>
          <p>Comunidades</p>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <mat-tab-group>
    <mat-tab label="Provincias">
        <br>
        <app-provincia></app-provincia>
    </mat-tab>
    <mat-tab label="Cantones">
        <br>
        <app-canton></app-canton>
    </mat-tab>
    <mat-tab label="Parroquias">
        <br>
        <app-parroquia></app-parroquia>
    </mat-tab>
    <mat-tab label="Comunidades">
        <br>
        <app-comunidad></app-comunidad>
    </mat-tab>
</mat-tab-group> -->
