<mat-tab-group [(selectedIndex)]="selectedTab">
  <mat-tab label="Ventas">
    <div class="container">
      <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="crearDetalleVenta()" novalidate>
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="row">
                <div class="col-lg-4">
                  <mat-form-field class="example-full-width">
                    <input
                      readonly
                      matInput
                      formControlName="_cabecera"
                      placeholder="Factura"
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="example-full-width">
                    <input
                      readonly
                      matInput
                      formControlName="_fechaFactura"
                      placeholder="Fecha"
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <button
                    [disabled]="buttonGenerarFactura"
                    type="button"
                    class="mt-2 mb-4 btn-block btn-warning"
                    mat-button
                    (click)="crearCabeceraFactura()"
                  >
                    Nueva Factura
                  </button>
                </div>
              </div>
              <div class="row card flex-container p-2">
                <div class="col-lg-4 col-md-4">
                  <button
                    class="btn-outline-warning btn-block"
                    (click)="seleccionarPersona()"
                    [disabled]="buttonSeleccionarPersona"
                    mat-button
                  >
                    Seleccionar Cliente
                  </button>
                </div>
                <div class="col-lg-2 col-md-2 mt-1">
                    <mat-label>{{ cedula || "Cédula" }}</mat-label>
                </div>
                <div class="col-lg-6 col-md-6 mt-1">
                    <mat-label>{{ nombres || "Cliente" }}</mat-label>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <mat-label>
                    CONFIGURAR VENTA
                  </mat-label>
                  <mat-form-field class="example-full-width">
                    <mat-select
                      [disabled]="selectTipoCompra"
                      [(value)]="selected"
                      (selectionChange)="selecionarTipoCompra($event)"
                    >
                      <mat-option
                        *ngFor="let item of tipoCompra"
                        [value]="item.tipo"
                      >
                        {{ item.tipo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field [hidden]="seccionKit" class="example-full-width">
                    <mat-label>Kits</mat-label>
                    <mat-spinner
                      *ngIf="comboKits"
                      diameter="20"
                      matSuffix
                    ></mat-spinner>
                    <mat-select
                      formControlName="_kit"
                      (selectionChange)="consultarKitsYSusProductos($event.value)"
                    >
                      <mat-option *ngFor="let item of kits" [value]="item.IdKit">
                        {{ item.Descripcion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="row">
                    <div class="col-lg-9 col-md-10">
                      <mat-form-field class="example-full-width">
                        <input
                          readonly
                          matInput
                          placeholder="Producto"
                          formControlName="_producto"
                        />
                        <button disabled mat-button matPrefix mat-icon-button>
                          <mat-icon>*</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-2">
                      <button
                        [disabled]="buttonSeleccionarProducto"
                        type="button"
                        mat-button
                        class="mt-2 btn-outline-warning"
                        (click)="seleccionarProducto()"
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div [hidden]="kit">
                    <mat-form-field class="example-full-width">
                      <input
                        readonly
                        matInput
                        placeholder="Kit"
                        formControlName="_kit"
                      />
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 descuento">
                      <mat-checkbox
                        formControlName="_checkedDescuento"
                        (change)="aplicarDescuento($event)"
                        >Aplicar Descuento</mat-checkbox
                      >
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <mat-form-field
                        class="example-full-width"
                        [hidden]="inputDescuento"
                      >
                        <input
                          matInput
                          placeholder="Descuento"
                          formControlName="_descuento"
                          type="number"
                        />
                        <button disabled mat-button matSuffix mat-icon-button>
                          <mat-icon>%</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          readonly
                          type="number"
                          formControlName="_disponible"
                          placeholder="Disponible"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          type="number"
                          formControlName="_cantidad"
                          placeholder="Cantidad"
                        />
                        <button disabled mat-button matPrefix mat-icon-button>
                          <mat-icon>*</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </div>
                  <mat-form-field
                    class="example-full-width"
                    style="margin-top: 1px;"
                  >
                    <input
                      matInput
                      readonly
                      type="number"
                      formControlName="_precio"
                      placeholder="Precio"
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-label>
                    SELECCIONAR MÉTODO DE PAGO
                  </mat-label>
                  <mat-form-field class="example-full-width">
                    <mat-select
                      [disabled]="selectTipoPago"
                      [(value)]="pago"
                      (selectionChange)="selecionarTipoPago($event)"
                    >
                      <mat-option *ngFor="let item of tipoPago" [value]="item.tipo">
                        {{ item.tipo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="siSePagaACredito">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            readonly
                            formControlName="_fechaFinalCredito"
                            [matDatepicker]="picker"
                            placeholder="Final Crédito"
                          />
                          <button
                            disabled
                            [hidden]="siSePagaACredito"
                            mat-button
                            matPrefix
                            mat-icon-button
                          >
                            <mat-icon>*</mat-icon>
                          </button>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-datepicker-toggle matSuffix [for]="picker">
                          </mat-datepicker-toggle>
                        </mat-form-field>
                      </div>
                      <div class="col-lg-6 col-md-6 descuento">
                        <mat-checkbox formControlName="_aplicaSeguro"
                          >Asistencia Técnica</mat-checkbox
                        >
                      </div>
                    </div>
                    <button
                      mat-button
                      [disabled]="buttonSeleccionarComunidad"
                      type="button"
                      (click)="seleccionarComunidad()"
                      class="mt-2 mb-4 btn-secondary btn-block"
                    >
                      Seleccionar lugar(es) de Sembrío
                    </button>
                    <mat-label>
                      Lugar(es) de Sembrío:
                    </mat-label>
                    <mat-list>
                      <mat-list-item *ngFor="let item of comunidades" class="">
                        <mat-label> {{ item.name }} </mat-label>
                        <span class="example-spacer"></span>
                        <button
                          mat-button
                          mat-icon-button
                          class="btn-outline-danger"
                          (click)="
                            quitarAsignacionComunidadFactura(
                              item.idAsignarComunidadFactura
                            )
                          "
                        >
                          <mat-icon>
                            remove
                          </mat-icon>
                        </button>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <button
                    type="submit"
                    class="mt-2 mb-2 btn-block btn-outline-success"
                    mat-button
                    [disabled]="buttonAgregarDetalle"
                    [disabled]="myForm.invalid"
                  >
                    Agregar Detalle
                  </button>
                </div>
                <div class="col-lg-6">
                  <button
                    type="button"
                    mat-button
                    [disabled]="buttonRealizarVenta"
                    (click)="crearConfiguracionVenta()"
                    class="mt-2 mb-2 btn-block btn-primary"
                  >
                    Realizar Venta
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row mt-3">
          <div class="col-lg-12 table_all">
            <table mat-table [dataSource]="detalleVenta">
              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let element">{{ element.Codigo }}</td>
              </ng-container>
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell class="p-3" *matHeaderCellDef>
                  Descripción
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.Producto }} {{ element.Presentacion }}
                </td>
              </ng-container>
              <ng-container matColumnDef="contenido">
                <th mat-header-cell class="p-2" *matHeaderCellDef>
                  Presentación
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.Contenido }}
                </td>
              </ng-container>
              <ng-container matColumnDef="kit">
                <th mat-header-cell class="p-2" *matHeaderCellDef>Kit</th>
                <td mat-cell *matCellDef="let element">{{ element.Kit }}</td>
              </ng-container>
              <ng-container matColumnDef="lote">
                <th mat-header-cell class="p-2" *matHeaderCellDef>Lote</th>
                <td mat-cell *matCellDef="let element">{{ element.Lote }}</td>
              </ng-container>
              <ng-container matColumnDef="fechaExpiracion">
                <th mat-header-cell class="p-2" *matHeaderCellDef>Expira</th>
                <ng-container *matCellDef="let element">
                  <td mat-cell *ngIf="element.FechaExpiracion != ''">
                    {{ element.FechaExpiracion | date: "yyyy-MM-dd" }}
                  </td>
                  <td mat-cell *ngIf="element.FechaExpiracion == ''">S/F</td>
                </ng-container>
              </ng-container>
              <ng-container matColumnDef="valorUnitario">
                <th mat-header-cell class="p-2" *matHeaderCellDef>V. Unit</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.ValorUnidad }}
                </td>
              </ng-container>
              <ng-container matColumnDef="cantidad">
                <th mat-header-cell class="p-2" *matHeaderCellDef>Cant</th>
                <ng-container *matCellDef="let element">
                  <ng-container *ngIf="element.PerteneceKitCompleto">
                    <td mat-cell>
                      {{ element.Cantidad }}
                    </td>
                  </ng-container>
                  <ng-container *ngIf="!element.PerteneceKitCompleto">
                    <td mat-cell>
                      <input
                        matInput
                        class="tableButton"
                        (keyup)="
                          modificarCantidadDeProductoEnDetalle(
                            $event,
                            element.IdDetalleVenta,
                            element.Cantidad
                          )
                        "
                        type="number"
                        value="{{ element.Cantidad }}"
                      />
                    </td>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container matColumnDef="iva">
                <th mat-header-cell class="p-2" *matHeaderCellDef>V. IVA</th>
                <td mat-cell *matCellDef="let element">${{ element.Iva }}</td>
              </ng-container>
              <ng-container matColumnDef="porcentajeDescuento">
                <th mat-header-cell class="p-2" *matHeaderCellDef>% Desc</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.PorcentajeDescuento }}%
                </td>
              </ng-container>
              <ng-container matColumnDef="descuento">
                <th mat-header-cell class="p-2" *matHeaderCellDef>V. Desc</th>
                <td mat-cell *matCellDef="let element">
                  ${{ element.Descuento }}
                </td>
              </ng-container>
              <ng-container matColumnDef="Subtotal">
                <th mat-header-cell class="p-2" *matHeaderCellDef>Subtotal</th>
                <td mat-cell *matCellDef="let element">
                  ${{ element.Subtotal }}
                </td>
              </ng-container>
              <ng-container matColumnDef="total">
                <th mat-header-cell class="p-2" *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let element">${{ element.Total }}</td>
              </ng-container>
              <ng-container matColumnDef="acciones">
                <th mat-header-cell class="p-2" *matHeaderCellDef>
                  <mat-icon class="mt-1">delete_outline</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-button
                    type="button"
                    class="btn-outline-danger"
                    (click)="quitarDetalleFactura(element)"
                  >
                    <mat-icon>remove</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="tablaDetalleCompra; sticky: true"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: tablaDetalleCompra"
              ></tr>
            </table>
            <mat-paginator
              #paginator
              [pageSizeOptions]="[5]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
        <div class="row m-4">
          <div class="col-md-7 detalleResultado">
            AMUCOMT
          </div>
          <div class="col-md-3">
            <div class="row">
              <div
                style="
                  border-inline-start-style: none;
                  justify-content: left;
                  border-bottom: thin;
                "
                class="col-sm-12 detalleResultado"
              >
                Subtotal:
              </div>
            </div>
            <div class="row">
              <div
                style="
                  border-inline-start-style: none;
                  justify-content: left;
                  border-bottom: thin;
                "
                class="col-sm-12 detalleResultado"
              >
                Total IVA:
              </div>
            </div>
            <div class="row">
              <div
                style="
                  border-inline-start-style: none;
                  justify-content: left;
                  border-bottom: thin;
                "
                class="col-sm-12 detalleResultado"
              >
                Total Descuento:
              </div>
            </div>
            <div class="row">
              <div
                style="border-inline-start-style: none; justify-content: left;"
                class="col-sm-12 detalleResultado"
              >
                Total:
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row">
              <div
                style="
                  border-inline-start-style: none;
                  justify-content: left;
                  border-bottom: thin;
                "
                class="col-sm-12 detalleResultado"
              >
                {{ subTotalFactura }}$
              </div>
            </div>
            <div class="row">
              <div
                style="
                  border-inline-start-style: none;
                  justify-content: left;
                  border-bottom: thin;
                "
                class="col-sm-12 detalleResultado"
              >
                {{ totalIva }}$
              </div>
            </div>
            <div class="row">
              <div
                style="
                  border-inline-start-style: none;
                  justify-content: left;
                  border-bottom: thin;
                "
                class="col-sm-12 detalleResultado"
              >
                {{ totalDescontado }}$
              </div>
            </div>
            <div class="row bottom-right">
              <div
                style="border-inline-start-style: none; justify-content: left;"
                class="col-sm-12 detalleResultado"
              >
                {{ totalFactura }}$
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Facturas no finalizadas">
    <div class="container">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="table_all">
              <table mat-table [dataSource]="facturasNoFinalizadas">
                <ng-container matColumnDef="codigo">
                  <th mat-header-cell class="p-2" *matHeaderCellDef>Código</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.Codigo }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="usuario">
                  <th mat-header-cell class="p-2" *matHeaderCellDef>Usuario</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.PersonaEntidad.PrimerNombre }}
                    {{ element.PersonaEntidad.ApellidoPaterno }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell class="p-2" *matHeaderCellDef>Fecha</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.FechaGeneracion | date: "yyyy-MM-dd" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                  <th colspan="2" mat-header-cell class="p-2" *matHeaderCellDef>
                    Acciones
                  </th>
                  <ng-container *matCellDef="let element">
                    <td mat-cell>
                      <button
                        mat-button
                        class="btn-outline-primary"
                        (click)="mostrarDetallesFactura(element)"
                      >
                        <mat-icon>format_line_spacing</mat-icon>
                      </button>
                    </td>
                    <td mat-cell>
                      <button
                        mat-button
                        class="btn-outline-danger"
                        (click)="eliminarFactura(element)"
                      >
                        <mat-icon>remove</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="tablaFacturasNoFinalidas; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: tablaFacturasNoFinalidas"
                ></tr>
              </table>
              <div class="spinner-container" *ngIf="loadingFnF">
                <mat-spinner></mat-spinner>
              </div>
              <mat-paginator
                #fnf_paginator
                [pageSizeOptions]="[8]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Facturas finalizadas">
    <div class="container">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="table_all">
              <table mat-table [dataSource]="facturasFinalizadas">
                <ng-container matColumnDef="codigo">
                  <th mat-header-cell class="p-2" *matHeaderCellDef>Código</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.Codigo }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="usuario">
                  <th mat-header-cell class="p-2" *matHeaderCellDef>Usuario</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.PersonaEntidad.PrimerNombre }}
                    {{ element.PersonaEntidad.ApellidoPaterno }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell class="p-2" *matHeaderCellDef>Fecha</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.FechaGeneracion | date: "yyyy-MM-dd" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell class="p-2" *matHeaderCellDef>
                    Acciones
                  </th>
                  <ng-container *matCellDef="let element">
                    <td mat-cell>
                      <button mat-button class="btn-outline-primary">
                        <mat-icon>visibility</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="tablaFacturasFinalidas; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: tablaFacturasFinalidas"
                ></tr>
              </table>
              <div class="spinner-container" *ngIf="loadingFF">
                <mat-spinner></mat-spinner>
              </div>
              <mat-paginator
                #ff_paginator
                [pageSizeOptions]="[8]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
