.detalleResultado {
  border: solid;
  border-color: #343a40;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.tableButton:focus {
  border-color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: large;
  background-color: #f0ad4e;
}

.descuento {
  padding-top: 6%;
}

@media screen and (max-width: 900px) {
  .descuento {
    padding-top: 3%;
  }	
}