<mat-form-field class="example-full-width">
    <mat-label>Seleccionar Técnico</mat-label>
    <mat-select (selectionChange)="seleccionarTecnico($event.value)">
      <mat-option *ngFor="let item of tecnicos" [value]="item._id">
        {{ item.nombres }}
      </mat-option>
    </mat-select>
  </mat-form-field> 
  <div>
    <button
      mat-button
      type="button"
      (click)="reasignarClientes()"
      class="mt-2 bg-success text-white btn-block"
    >
      Reasignar Clientes
    </button>
  </div>