<div class="container center">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 offset-md-3">
          <a routerLink="/dash/compras" class="card education">
            <div class="overlay"></div>
            <div class="overlay2"></div>
            <div class="circle">
              <img
                width="auto"
                height="131px"
                src="../../../assets/img/panel/bolsa-de-la-compra.png"
                alt=""
              />
            </div>
            <p>Compras</p>
          </a>
        </div>
        <div class="col-md-6">
          <a routerLink="/dash/ventas" class="card credentialing">
            <div class="overlay"></div>
            <div class="overlay2"></div>
            <div class="circle">
              <img
                width="auto"
                height="131px"
                src="../../../assets/img/panel/metodo-de-pago.png"
                alt=""
              />
            </div>
            <p>Ventas</p>
          </a> 
        </div>
      </div>
    </div>
  </div>
  
  <!-- <mat-tab-group>
      <mat-tab label="Provincias">
          <br>
          <app-provincia></app-provincia>
      </mat-tab>
      <mat-tab label="Cantones">
          <br>
          <app-canton></app-canton>
      </mat-tab>
      <mat-tab label="Parroquias">
          <br>
          <app-parroquia></app-parroquia>
      </mat-tab>
      <mat-tab label="Comunidades">
          <br>
          <app-comunidad></app-comunidad>
      </mat-tab>
  </mat-tab-group> -->
  