<div class="container page-container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-xs-12 col-lg-4 col-sm-12">
            <div class="card">
                <!-- <div class="card-header">Dashboard</div> -->

                <div class="card-body">
                    <img src="../../../assets/img/logo.png" width="100" height="100">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Usuario</label>
                            <input type="text" class="form-control" name="usuario" [(ngModel)]="usuario" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Clave</label>
                            <input type="text" class="form-control" name="contrasena" [(ngModel)]="contrasena">
                        </div>
                        <br>
                        <button type="button" (click)="test()" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>