<mat-dialog-content>
  <div>
    <h5 style="text-align: center;">Lista Productos {{ nombreKit }}</h5>
    <mat-form-field class="example-full-width">
      <input
        matInput
        (keyup)="search($event.target.value)"
        type="text"
        name="buscarProducto"
        placeholder="Buscar Producto"
      />
      <button disabled matPrefix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <div class="table_all">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let element">{{ element.Codigo }}</td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let element">{{ element.Producto }}</td>
        </ng-container>
        <ng-container matColumnDef="presentacion">
          <th mat-header-cell *matHeaderCellDef>Presentación</th>
          <td mat-cell *matCellDef="let element">
            {{ element.ContenidoNeto }} {{ element.Medida }}
          </td>
        </ng-container>
        <ng-container matColumnDef="contenidoNeto">
          <th mat-header-cell *matHeaderCellDef>C. Neto</th>
          <td mat-cell *matCellDef="let element">
            {{ element.ContenidoNeto }}
          </td>
        </ng-container>
        <ng-container matColumnDef="medida">
          <th mat-header-cell *matHeaderCellDef>Medida</th>
          <td mat-cell *matCellDef="let element">{{ element.Medida }}</td>
        </ng-container>
        <ng-container matColumnDef="kit">
          <th mat-header-cell *matHeaderCellDef>Kit</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Kit }}
          </td>
        </ng-container>
        <ng-container matColumnDef="lote">
          <th mat-header-cell *matHeaderCellDef>Lote</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Lote }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fechaExpiracion">
          <th mat-header-cell *matHeaderCellDef>Expira</th>
          <td mat-cell *matCellDef="let element">
            {{ element.FechaExpiracion | date: "yyyy-MM-dd" }}
          </td>
        </ng-container> 
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let element">{{ element.Cantidad }}</td>
        </ng-container>
        <ng-container matColumnDef="disponible">
          <th mat-header-cell *matHeaderCellDef>Disponible</th>
          <td mat-cell *matCellDef="let element">{{ element.Disponible }}</td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="agregarDetalle(element)">
              <mat-icon style="color: #02b875;">add_shopping_cart</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tabla; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: tabla"></tr>
      </table>
      <div class="spinner-container" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
      <mat-paginator #paginator [pageSize]="4"></mat-paginator>
      <div class="row" [hidden]="permitirAnadir">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="number"
              placeholder="Cantidad"
              [(ngModel)]="cantidad"
            />
          </mat-form-field>
        </div>
        <div class="mt-2 col-lg-6 col-md-6 col-sm-6">
          <button
            [disabled]="buttonComprarKitCompleto"
            mat-button
            type="button"
            (click)="cerrarModal()"
            class="bg-warning text-white btn-block"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
