<h1 mat-dialog-title>Datos de Persona</h1>
<mat-dialog-content>
    <div class="form-group row">
        <div class="col-sm-12">
            <input matInput [(ngModel)]="nombresCompletos" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <input matInput [(ngModel)]="data.tipoDocumentoModal" type="text" class="form-control" readonly>
        </div>
        <div class="col-sm-6">
            <input matInput [(ngModel)]="data.numeroDocumentoModal" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <input matInput  [(ngModel)]="data.telefonoModal1 || sinNumero" type="text" class="form-control" readonly>
        </div>
        <div class="col-sm-6">
            <input matInput [(ngModel)]="data.telefonoModal2 || sinNumero" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <input matInput [(ngModel)]="data.correoModal || sinCorreo" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <input matInput [(ngModel)]="direccion || sinDireccion" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <input matInput [(ngModel)]="data.comunidadModal || sinDireccion" type="text" class="form-control" readonly>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close type="button" class="btn btn-primary">
        Aceptar
    </button>
</mat-dialog-actions>