<div class="container center">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image mt-1"></div>
            <mat-card-title style="font-size: 1rem;">
              {{ nombres }}
            </mat-card-title>
            <mat-card-subtitle> {{ tipoUsuario }} </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="myForm" (ngSubmit)="modificarDatos()" novalidate>
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  formControlName="_correo"
                  name="correo"
                  matInput
                  placeholder="Correo"
                />
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  formControlName="_usuario"
                  matInput
                  placeholder="Usuario"
                />
              </mat-form-field>


              <mat-form-field class="example-full-width">
                <input
                  matInput
                  name="contrasena"
                  formControlName="_contrasena"
                  type="password"
                  [type]="inputType"
                  placeholder="Ingrese Contraseña"
                />
                <button disabled mat-button matPrefix mat-icon-button>
                  <mat-icon>*</mat-icon>
                </button>
                <button
                  mat-button
                  matSuffix
                  type="button"
                  mat-icon-button
                  (click)="mostrarContrasena()"
                >
                  <mat-icon>visibility</mat-icon>
                </button>
              </mat-form-field>
              <button
                class="btn-block"
                [disabled]="myForm.invalid"
                class="mt.2 btn-outline-success btn-block"
                mat-button
              >
                Modificar
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
