<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card-body">
                <h5 style="text-align: center;">Nuevo Kit</h5>
                <form [formGroup]="myForm" (ngSubmit)="validarFormulario()" novalidate>
                    <mat-form-field class="example-full-width">
                        <input matInput (keyup)="onChangeInputKit()" formControlName="_kit" type="text"
                            placeholder="Ingrese Nombre kit">
                    </mat-form-field>
                    <div class="badge badge-danger mb-3 btn-block" *ngIf="_kit.invalid && (_kit.dirty || _kit.touched)">
                        <div *ngIf="_kit.errors.required">
                            Nombre Kit Requerido
                        </div>
                    </div>
                    <div class="badge badge-danger mb-3 btn-block" [hidden]="inputKit">
                        Kit Ya Existe
                    </div>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="_codigo" type="text" placeholder="Ingrese Código kit">
                    </mat-form-field>
                    <div class="badge badge-danger mb-3 btn-block"
                        *ngIf="_codigo.invalid && (_codigo.dirty || _codigo.touched)">
                        <div *ngIf="_codigo.errors.required">
                            Código Kit Requerido
                        </div>
                    </div>
                    <div>
                        <button type="submit" [value]="botonIngresar" [disabled]="myForm.invalid"
                            class="btn btn-success btn-block" #testButton>Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card-body mat-elevation-z5">
                <h5 style="text-align: center;">Lista Kits</h5>
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="filterKit" type="text" placeholder="Buscar Kit">
                    <button mat-button matPrefix mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <div class="tablaKits">
                    <table mat-table [dataSource]="kits">
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let element"> {{element.Codigo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th colspan="2" mat-header-cell *matHeaderCellDef> Acciones </th>
                            <ng-container *matCellDef="let element">
                                <ng-container *ngIf="element.KitUtilizado == '0'">
                                    <td mat-cell>
                                        <button class="btn btn-sm btn-outline-info" (click)="mostrarKit(element)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td mat-cell>
                                        <button class="btn btn-sm btn-outline-danger"
                                            (click)="eliminarKit(element.IdKit)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="element.KitUtilizado == '1'">
                                    <td mat-cell colspan="2">
                                        <button class="btn btn-sm btn-outline-info" (click)="mostrarKit(element)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tablaKits; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: tablaKits;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>