<h1 mat-dialog-title style="text-align: center;">Datos de Producto</h1>
<mat-dialog-content>
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="presentacion" type="text" disabled readonly>
    </mat-form-field>
    <div class="row">
        <div class="col-lg-6">
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="contenidoNeto" type="text" disabled readonly>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="medida" type="text" disabled readonly>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close type="button" class="btn-block btn-primary">
        Cerrar
    </button>
</mat-dialog-actions>