<!-- <h1 mat-dialog-title>Datos de Persona</h1> -->
<h1 mat-dialog-title>Datos de Persona</h1>

<mat-dialog-content>
    <!-- <div class="form-group row">
        <div class="col-sm-6">
            <input matInput [(ngModel)]="persona.nombres" type="text" class="form-control" placeholder="Ingrese Nombres"
                required>
        </div>
        <div class="col-sm-6 screen-size">
            <input matInput [(ngModel)]="persona.apellidos" type="text" class="form-control"
                placeholder="Ingrese Apellidos" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            <select [(ngModel)]="persona.tipoDocumento" type="text" class="form-control" required>
                <option value="0" disabled>Seleccionar Tipo Documento </option>
                <option *ngFor="let item of tipoDocumentos" value="{{item.IdTipoDocumento}}">
                    {{ item.Documento }} </option>
            </select>
        </div>
        <div class="col-sm-6 screen-size">
            <input matInput [(ngModel)]="persona.numeroDocumento" type="text" class="form-control" placeholder="Ingrese Numero Documento" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-5">
            <input matInput [(ngModel)]="persona.telefonoModal1" type="text" class="form-control"
                placeholder="Ingrese Primer Telefono" required>
        </div>
        <div class="col-sm-5 screen-size">
            <input matInput [(ngModel)]="persona.telefonoModal2" type="text" class="form-control"
                placeholder="Ingrese Segundo Telefono" required>
        </div>
        <div class="col-sm-2 screen-size">
            <button [disabled]="botonAgregarNumero" type="button" class="form-control" style="background-color: #4582EC;" (click)="agregarTelefono()"><i
                    class="fa fa-plus" style="color: white" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="form-group row" [hidden]="numeroExtra">
        <div class="col-sm-5">
            <input matInput [(ngModel)]="persona.telefonoModal3" type="text" class="form-control"
                placeholder="Ingrese Tercer Telefono" required>
        </div>
        <div class="col-sm-2 screen-size">
            <button type="button" class="form-control" style="background-color: #d9534f;" (click)="quitarTelefono()"><i
                    class="fa fa-times" style="color: white" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <input matInput [(ngModel)]="persona.correoModal" type="text" class="form-control"
                placeholder="Ingrese Correo" required>
        </div>
    </div> -->

    <div class="form-group row">
        <div class="col-sm-12">
            <input [(ngModel)]="telefono1" type="text" class="form-control" placeholder="Ingrese Primer Telefono"
                required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <input [(ngModel)]="telefono2" type="text" class="form-control" placeholder="Ingrese Segundo Telefono"
                required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button [disabled]="botonAgregarNumero" type="button" class="form-control"
                style="background-color: #4582EC;" (click)="agregarTelefono()"><i class="fa fa-plus"
                    style="color: white" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="form-group row" [hidden]="numeroExtra">
        <div class="col-sm-12">
            <input [(ngModel)]="telefono3" type="text" class="form-control" placeholder="Ingrese Tercer Telefono"
                required>
        </div>
    </div>
    <div class="form-group row" [hidden]="numeroExtra">
        <div class="col-sm-12">
            <button type="button" class="form-control" style="background-color: #d9534f;" (click)="quitarTelefono()"><i
                    class="fa fa-times" style="color: white" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <input [(ngModel)]="correo" type="email" class="form-control" placeholder="Ingrese Correo">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <select [(ngModel)]="provincia" type="text" class="form-control" required>
                <option value="0" disabled>Seleccionar Provincia </option>
                <option *ngFor="let item of provincias" value="{{item.IdProvincia}}">
                    {{ item.Descripcion }}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <select [(ngModel)]="canton" type="text" class="form-control" required>
                <option value="0" disabled>Seleccionar Cantón </option>
                <option *ngFor="let item of cantones" value="{{item.IdCanton}}">
                    {{ item.Descripcion }}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <select [(ngModel)]="parroquia" type="text" class="form-control" required>
                <option value="0" disabled>Seleccionar Parroquia</option>
                <option *ngFor="let item of parroquias" value="{{item.IdParroquia}}">
                    {{ item.Descripcion }}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <select [(ngModel)]="comunidad" type="text" class="form-control" required>
                <option value="0" disabled>Seleccionar Comunidad</option>
                <option *ngFor="let item of comunidades" value="{{item.IdComunidad}}">
                    {{ item.Descripcion }}
                </option>
            </select>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]=persona type="button" class="btn btn-primary">
        Aceptar
    </button>
    <button mat-button (click)="cerrarModal()" type="button" class="btn btn-outline-dark">
        Cerrar
    </button>
</mat-dialog-actions>