<mat-dialog-content>
  <h5 style="text-align: center;">Asignar Role(s)</h5>
  <div class="example-spacer">
    <mat-form-field>
      <mat-label>Tipos Usuario</mat-label>
      <mat-select
        (selectionChange)="seleccionarTipoUsuario($event)"
        [(ngModel)]="tipoUsuario"
      >
        <mat-option
          *ngFor="let item of tipoUsuarios"
          [value]="item.IdTipoUsuario"
        >
          {{ item.Descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      [disabled]="tipoUsuarioSelecionado"
      mat-button
      mat-icon-button
      type="button"
      class="btn-outline-warning mt-2 ml-3"
      (click)="asignarTipoUsuario()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-nav-list *ngFor="let tipo of listaTipoUsuario">
    <mat-list-item>
      <span mat-line> {{ tipo.TipoUsuario.Descripcion }}</span>
      <span class="example-spacer"></span>
      <button
        mat-button
        class="btn-outline-danger"
        (click)="eliminarTipoUsuario(tipo.IdAsignacionTUEncriptada)"
      >
        <mat-icon>
          remove
        </mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-dialog-content>
