<mat-dialog-content>
    <div class="card ">
        <div class="card-body">
            <h5 style="text-align: center;">Asignar Role(s)</h5>
            <mat-form-field class="example-full-width">
                <mat-label>Tipos Usuario</mat-label>
                <mat-select #testSelect [(ngModel)]="tipoUsuario" [ngModelOptions]="{standalone: true}"
                    (selectionChange)="agregarTipoUsuarioALista($event.value)">
                    <mat-option *ngFor="let item of tipoUsuarios" [value]="item.IdTipoUsuario">
                        {{item.Descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <i (click)="asignarTipoUsuario()" class="fa fa-plus icon ml-3" style="background-color:#f0ad4e;"></i>
            <div class="mat-elevation-z5">
                <table mat-table [dataSource]="listaTipoUsuario">
                    <ng-container matColumnDef="tipoUsuario">
                        <th mat-header-cell *matHeaderCellDef> Rol </th>
                        <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <button [disabled]="botonEliminar" 
                                class="btn btn-sm btn-outline-danger btn-block"
                                (click)="eliminarTipoUsuarioDeLista(element)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tablaTipoUsuarios; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: tablaTipoUsuarios;"></tr>
                </table>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" type="button" class="btn btn-block btn-primary">
        Cerrar
    </button>
</mat-dialog-actions>