<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Nombres:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" placeholder="Ejem: Juan Carlos">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Apellidos:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" placeholder="Ejem. Zambrano Zambrano">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Documento:</label>
                <div class="col-sm-5">
                    <select type="text" class="form-control form-control-sm" placeholder="Ejem. Zambrano Zambrano">
                        <option>Cedula</option>
                        <option>Pasaporte</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <input type="email" class="form-control form-control-sm" placeholder="Ejem. 0000000000">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-sm btn-block btn-primary" id="colFormLabelSm" value="Guardar">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Filtro:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                        placeholder="Ejem. Zambrano Zambrano">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive-sm">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Documento</th>
                            <th scope="col">No. Documento</th>
                            <th scope="col" colspan="2" style="text-align: center;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of personas">
                            <th scope="row"></th>
                            <td>
                                <button class="btn btn-sm btn-info separacion-botones"><i class="fa fa-pencil-square-o"
                                        aria-hidden="true"></i> </button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger separacion-botones"><i class="fa fa-trash"
                                        aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>