input:invalid{
    background-color: #f0ad4e;
}

.tablaPersonas {
    height: 20rem;
    overflow: auto;
}

table {
    width: 100%;
    background-color: #343a40;
}

table th {
    text-align: center;
    color: #fff;
}

td {
    text-align: center;
    color: #fff; 
}