<br>
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="validarFormulario()" novalidate>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header" style="text-align: center;">
                        {{ nuevaPersona }}
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" formControlName="_nombres" class="form-control"
                                placeholder="Ingrese Nombres" (keyup)="onChangeInputNombres()">
                            <div class="badge badge-danger mt-3 btn-block"
                                *ngIf="_nombres.invalid && (_nombres.dirty || _nombres.touched)">
                                <div *ngIf="_nombres.errors.required">
                                    Nombres Requeridos
                                </div>
                            </div>
                            <div class="badge badge-danger mt-3 btn-block" [hidden]="inputNombres">
                                Necesita dos Nombres
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="_apellidos" class="form-control"
                                placeholder="Ingrese Apellidos" (keyup)="onChangeInputApellidos()">
                            <div class="badge badge-danger mt-3 btn-block"
                                *ngIf="_apellidos.invalid && (_apellidos.dirty || _apellidos.touched)">
                                <div *ngIf="_apellidos.errors.required">
                                    Apellidos Requeridos
                                </div>
                            </div>
                            <div class="badge badge-danger mt-3 btn-block" [hidden]="inputApellidos">
                                Necesita dos Apellidos
                            </div>
                        </div>
                        <div class="form-group">
                            <select type="text" [(ngModel)]="tipoDocumento" [ngModelOptions]="{standalone: true}"
                                class="form-control" (change)="onChangeSelectTipoDocumento($event.target.value)">
                                <option value="0">Seleccione Tipo Documento</option>
                                <option *ngFor="let item of tipoDocumentos" value="{{item.IdTipoDocumento}}">
                                    {{ item.Documento }}
                                </option>
                            </select>
                            <div class="badge badge-danger mt-3 btn-block" [hidden]="selectTipoDocumento">
                                Tipo Documento Requerido
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="number" formControlName="_numeroDocumento" (keyup)="onChangeInputCedula()" class="form-control"
                                placeholder="Ingrese Número Documento">
                            <div class="badge badge-danger mt-3 btn-block"
                                *ngIf="_numeroDocumento.invalid && (_numeroDocumento.dirty || _numeroDocumento.touched)">
                                <div *ngIf="_numeroDocumento.errors.required">
                                    Numero de Documento Requerido
                                </div>
                            </div>
                            <div class="badge badge-danger mt-3 btn-block" [hidden]="inputCedula">
                                Cédula ya existe
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header" style="text-align: center;">
                        {{ contacto }}
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="number" formControlName="_telefono1" class="form-control"
                                placeholder="Primer Telefono">
                            <div class="badge badge-danger mt-3 btn-block"
                                *ngIf="_telefono1.invalid && (_telefono1.dirty || _telefono1.touched)">
                                <div *ngIf="_telefono1.errors.required">
                                    Primer Telefono Requeridos
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <select type="text" [(ngModel)]="tipoTelefono1" [ngModelOptions]="{standalone: true}"
                                class="form-control" (change)="onChangeSelectTipoTelefono1($event.target.value)">
                                <option value="0" disabled>Tipo Telefono</option>
                                <option *ngFor="let item of tipoTelefonos" value="{{item.IdTipoTelefono}}">
                                    {{ item.Descripcion }}
                                </option>
                            </select>
                            <div class="badge badge-danger mt-3 btn-block" [hidden]="selectTipoTelefono1">
                                Tipo Telefono Requerido
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="number" formControlName="_telefono2" class="form-control"
                                placeholder="Segundo Telefono">
                            <div class="badge badge-danger mt-3 btn-block"
                                *ngIf="_telefono2.invalid && (_telefono2.dirty || _telefono2.touched)">
                                <div *ngIf="_telefono2.errors.required">
                                    Segundo Telefono Requeridos
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <select type="text" [(ngModel)]="tipoTelefono2" [ngModelOptions]="{standalone: true}"
                                class="form-control" (change)="onChangeSelectTipoTelefono2($event.target.value)">
                                <option value="0" disabled>Tipo Telefono</option>
                                <option *ngFor="let item of tipoTelefonos" value="{{item.IdTipoTelefono}}">
                                    {{ item.Descripcion }}
                                </option>
                            </select>
                            <div class="badge badge-danger mt-3 btn-block" [hidden]="selectTipoTelefono2">
                                Tipo Telefono Requerido
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" [(ngModel)]="correo" [ngModelOptions]="{standalone: true}"
                                class="form-control" placeholder="Ingrese Correo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header" style="text-align: center;">
                        {{ direccion }}
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <select type="text" [(ngModel)]="provincia" [ngModelOptions]="{standalone: true}"
                                class="form-control" (change)="cantonesDeUnaProvincia($event.target.value)">
                                <option value="0" disabled>Seleccionar Provincia </option>
                                <option *ngFor="let item of provincias" value="{{item.IdProvincia}}">
                                    {{ item.Descripcion }}
                                </option>
                            </select>
                            <div class="badge badge-danger mt-3 btn-block" [hidden]="selectProvincia">
                                Provincia Requerida
                            </div>
                        </div>
                        <div class="form-group">
                            <select type="text" [(ngModel)]="canton" [ngModelOptions]="{standalone: true}"
                                class="form-control" (change)="parroquiasDeUnCanton($event.target.value)">
                                <option value="0" disabled>Seleccionar Cantón </option>
                                <option *ngFor="let item of cantones" value="{{item.IdCanton}}">
                                    {{ item.Descripcion }}
                                </option>
                            </select>
                            <div class="badge badge-danger mt-3 btn-block" [hidden]="selectCanton">
                                Canton Requerida
                            </div>
                        </div>
                        <div class="form-group">
                            <select type="text" [(ngModel)]="parroquia" [ngModelOptions]="{standalone: true}"
                                class="form-control">
                                <option value="0" disabled>Seleccionar Parroquia</option>
                                <option *ngFor="let item of parroquias" value="{{item.IdParroquia}}">
                                    {{ item.Descripcion }}
                                </option>
                            </select>
                            <div class="badge badge-danger mt-3 btn-block" [hidden]="selectParroquia">
                                Parroquia Requerida
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <button type="submit" class="form-control btn-success" [value]="botonInsertar" #testButton>Guardar
                        Persona</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group input-container">
                <i class="fa fa-search icon"></i>
                <input [(ngModel)]="filterPersona" type="text" class="form-control input-field"
                    placeholder="Ejem. Zambrano Zambrano">
            </div>
            <div class="table-responsive-sm">
                <table class="table table-sm">
                    <thead class="card-header">
                        <tr>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Documento</th>
                            <th scope="col">No. Documento</th>
                            <th scope="col" colspan="3" style="text-align: center;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of personas | filter: filterPersona : 'PrimerNombre':'SegundoNombre':'ApellidoPaterno':'ApellidoMaterno':'NumeroDocumento'">
                            <td> {{ item.PrimerNombre }} {{ item.SegundoNombre }} </td>
                            <td> {{ item.ApellidoPaterno }} {{ item.ApellidoMaterno }} </td>
                            <td> {{ item.TipoDocumento }} </td>
                            <td> {{ item.NumeroDocumento }} </td>
                            <ng-container *ngIf="item.IdUsuario == ''; then sePuedeEliminar; else noSePuedeEliminar">
                            </ng-container>
                            <ng-template #noSePuedeEliminar>
                                <td>
                                    <button tooltip="Ver Información" placement="top" 
                                    class="btn btn-sm btn-outline-primary separacion-botones"
                                        value="{{item.IdPersona}}"
                                        (click)="consultarPersonaPorId('detalles', item.IdPersona)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>
                                    <button tooltip="Modificar" placement="top"  
                                    class="btn btn-sm btn-outline-info separacion-botones"
                                        value="{{item.IdPersona}}"
                                        (click)="consultarPersonaPorId('modificar', item.IdPersona)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </ng-template>
                            <ng-template #sePuedeEliminar>
                                <td>
                                    <button tooltip="Ver Información" placement="top" 
                                    class="btn btn-sm btn-outline-primary separacion-botones"
                                        value="{{item.IdPersona}}"
                                        (click)="consultarPersonaPorId('detalles', item.IdPersona)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>
                                    <button tooltip="Modificar" placement="top" 
                                    class="btn btn-sm btn-outline-info separacion-botones"
                                        value="{{item.IdPersona}}"
                                        (click)="consultarPersonaPorId('modificar', item.IdPersona)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>
                                    <button tooltip="Eliminar" placement="top"  
                                    class="btn btn-sm btn-outline-danger separacion-botones"
                                        value="{{item.IdPersona}}" (click)="eliminarPersona(item.IdPersona)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>